<div id="本次導讀的章節" class="slide section level1">
<h1>本次導讀的章節</h1>
<ul class="incremental">
<li><p>第三章 Classification：在第三章中，主要使用 e-mail spam 作為範例，來介紹一下相關的工具與套件！首先，在 cleaning data 的部分，使用了 R 中的 tm 套件；接著，再運用 tm 模組幫助我們抽取出 TF-IDF 等資訊，來進行 Naive Bays Classifier 的訓練與測試！</p></li>
<li><p>第五章 Regression：第五章的內容大致上可以分成三個部分：一開始，直接使用 y 的平均數，作為 y=f(x) 的估計值；其次，加入 x 進行估計之後，能夠提升多少估計值與解釋力？最後，說明一下當 x 之中具有「類別變數」時，要如何求取迴歸係數？</p></li>
</ul>
</div>
<div id="各章節使用的-dataset" class="slide section level1">
<h1>各章節使用的 Dataset</h1>
<ul class="incremental">
<li>第三章：<a href="http://spamassassin.apache.org/">spamassassin</a></li>
</ul>
<p><img src="arrowlogo.png" width="300"/></p>
</div>
<div id="第五章吸菸資料" class="slide section level1">
<h1>第五章：吸菸資料</h1>
<pre class="sourceCode r"><code class="sourceCode r">ages &lt;-<span class="st"> </span><span class="kw">read.csv</span>(<span class="kw">file.path</span>(<span class="st">&quot;data&quot;</span>, <span class="st">&quot;longevity.csv&quot;</span>))
<span class="kw">head</span>(ages)</code></pre>
<pre><code>##   Smokes AgeAtDeath
## 1      1         75
## 2      1         72
## 3      1         66
## 4      1         74
## 5      1         69
## 6      1         65</code></pre>
</div>
<div id="第五章吸菸資料-1" class="slide section level1">
<h1>第五章：吸菸資料</h1>
<pre class="sourceCode r"><code class="sourceCode r"><span class="kw">tail</span>(ages)</code></pre>
<pre><code>##      Smokes AgeAtDeath
## 995       0         77
## 996       0         83
## 997       0         78
## 998       0         79
## 999       0         71
## 1000      0         81</code></pre>
</div>
<div id="第五章吸菸資料-2" class="slide section level1">
<h1>第五章：吸菸資料</h1>
<pre class="sourceCode r"><code class="sourceCode r"><span class="kw">ggplot</span>(ages, <span class="kw">aes</span>(<span class="dt">x =</span> AgeAtDeath, <span class="dt">fill =</span> <span class="kw">factor</span>(Smokes))) +<span class="st"> </span><span class="kw">geom_density</span>() +<span class="st"> </span>
<span class="st">    </span><span class="kw">facet_grid</span>(Smokes ~<span class="st"> </span>.)</code></pre>
<div class="figure">
<img src="figure/smoke_data_graph%20.png" alt="Smoking Data" /><p class="caption">Smoking Data</p>
</div>
</div>
<div id="第五章身高-體重-性別資料" class="slide section level1">
<h1>第五章：身高-體重-性別資料</h1>
<pre class="sourceCode r"><code class="sourceCode r">heights.weights &lt;-<span class="st"> </span><span class="kw">read.csv</span>(<span class="st">&quot;data/01_heights_weights_genders.csv&quot;</span>, <span class="dt">header =</span> <span class="ot">TRUE</span>, 
    <span class="dt">sep =</span> <span class="st">&quot;,&quot;</span>)
<span class="kw">ggplot</span>(heights.weights, <span class="kw">aes</span>(<span class="dt">x =</span> Weight, <span class="dt">y =</span> Height, <span class="dt">color =</span> Gender)) +<span class="st"> </span><span class="kw">geom_point</span>() +<span class="st"> </span>
<span class="st">    </span><span class="kw">geom_smooth</span>(<span class="dt">method =</span> <span class="st">&quot;lm&quot;</span>)</code></pre>
<div class="figure">
<img src="figure/HWG_Data.png" alt="plot of chunk HWG_Data" /><p class="caption">plot of chunk HWG_Data</p>
</div>
</div>
<div id="第五章網站流量資料" class="slide section level1">
<h1>第五章：網站流量資料</h1>
<pre class="sourceCode r"><code class="sourceCode r">top<span class="fl">.1000</span>.sites &lt;-<span class="st"> </span><span class="kw">read.csv</span>(<span class="st">&quot;data/top_1000_sites.tsv&quot;</span>, <span class="dt">sep =</span> <span class="st">&quot;</span><span class="ch">\t</span><span class="st">&quot;</span>, <span class="dt">stringsAsFactors =</span> <span class="ot">FALSE</span>)
<span class="kw">head</span>(top<span class="fl">.1000</span>.sites)</code></pre>
<pre><code>##   Rank          Site                     Category UniqueVisitors Reach
## 1    1  facebook.com              Social Networks      880000000  47.2
## 2    2   youtube.com                 Online Video      800000000  42.7
## 3    3     yahoo.com                  Web Portals      660000000  35.3
## 4    4      live.com               Search Engines      550000000  29.3
## 5    5 wikipedia.org Dictionaries &amp; Encyclopedias      490000000  26.2
## 6    6       msn.com                  Web Portals      450000000  24.0
##   PageViews HasAdvertising InEnglish TLD
## 1   9.1e+11            Yes       Yes com
## 2   1.0e+11            Yes       Yes com
## 3   7.7e+10            Yes       Yes com
## 4   3.6e+10            Yes       Yes com
## 5   7.0e+09             No       Yes org
## 6   1.5e+10            Yes       Yes com</code></pre>
</div>
<div id="第五章網站流量資料-1" class="slide section level1">
<h1>第五章：網站流量資料</h1>
<pre class="sourceCode r"><code class="sourceCode r"><span class="kw">ggplot</span>(top<span class="fl">.1000</span>.sites, <span class="kw">aes</span>(<span class="dt">x =</span> <span class="kw">log</span>(PageViews), <span class="dt">y =</span> <span class="kw">log</span>(UniqueVisitors))) +<span class="st"> </span><span class="kw">geom_point</span>()</code></pre>
<div class="figure">
<img src="figure/PageViewsData_graph.png" alt="plot of chunk PageViewsData_graph" /><p class="caption">plot of chunk PageViewsData_graph</p>
</div>
</div>
<div id="所使用的-tools" class="slide section level1">
<h1>所使用的 Tools</h1>
<ul class="incremental">
<li>ggplot2</li>
<li>tm (第三章)</li>
<li>lm (第五章)</li>
</ul>
</div>
<div id="回到第三章的分類問題..." class="slide section level1">
<h1>回到第三章的分類問題...</h1>
<ul class="incremental">
<li>首先，讓我們來看看「作者用來 cleaning data 的工具」 ......</li>
<li>接著，讓我們來看看「Data 的樣子」......</li>
<li>然後，再來看看「如何使用tm 工具」 ......</li>
<li>最後，就是「如何建造 Naive Baysian Classifier？」......</li>
<li>接下來，就是「看 Codes 學寫 Codes」的時間囉！</li>
</ul>
</div>
<div id="作者用來-cleaning-data-的工具-get.msg" class="slide section level1">
<h1>作者用來 cleaning data 的工具 (get.msg)</h1>
<pre class="sourceCode r"><code class="sourceCode r">get.msg &lt;-<span class="st"> </span>function(path) {
    con &lt;-<span class="st"> </span><span class="kw">file</span>(path, <span class="dt">open =</span> <span class="st">&quot;rt&quot;</span>, <span class="dt">encoding =</span> <span class="st">&quot;latin1&quot;</span>)
    text &lt;-<span class="st"> </span><span class="kw">readLines</span>(con)
    <span class="co"># The message always begins after the first full line break</span>
    msg &lt;-<span class="st"> </span>text[<span class="kw">seq</span>(<span class="kw">which</span>(text ==<span class="st"> &quot;&quot;</span>)[<span class="dv">1</span>] +<span class="st"> </span><span class="dv">1</span>, <span class="kw">length</span>(text), <span class="dv">1</span>)]
    <span class="kw">close</span>(con)
    <span class="kw">return</span>(<span class="kw">paste</span>(msg, <span class="dt">collapse =</span> <span class="st">&quot;</span><span class="ch">\n</span><span class="st">&quot;</span>))
}</code></pre>
</div>
<div id="e-mail-data-的樣子" class="slide section level1">
<h1>E-mail Data 的樣子</h1>
<pre class="sourceCode r"><code class="sourceCode r"><span class="kw">library</span>(<span class="st">&quot;tm&quot;</span>)
<span class="co"># Set the global paths</span>
spam.path &lt;-<span class="st"> </span><span class="kw">file.path</span>(<span class="st">&quot;data&quot;</span>, <span class="st">&quot;spam&quot;</span>)
spam.docs &lt;-<span class="st"> </span><span class="kw">dir</span>(spam.path)
spam.docs &lt;-<span class="st"> </span>spam.docs[<span class="kw">which</span>(spam.docs !=<span class="st"> &quot;cmds&quot;</span>)]
all.spam &lt;-<span class="st"> </span><span class="kw">sapply</span>(<span class="kw">head</span>(spam.docs), function(p) <span class="kw">get.msg</span>(<span class="kw">file.path</span>(spam.path, 
    p)))</code></pre>
<pre><code>## Warning: invalid input found on input connection
## &#39;data/spam/00006.5ab5620d3d7c6c0db76234556a16f6c1&#39;</code></pre>
<pre class="sourceCode r"><code class="sourceCode r"><span class="kw">print</span>(all.spam[<span class="dv">1</span>])</code></pre>
<pre><code>##                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    00001.7848dde101aa985090474a91ec93fcf0 
## &quot;&lt;!DOCTYPE HTML PUBLIC \&quot;-//W3C//DTD HTML 4.0 Transitional//EN\&quot;&gt;\n&lt;HTML&gt;&lt;HEAD&gt;\n&lt;META content=3D\&quot;text/html; charset=3Dwindows-1252\&quot; http-equiv=3DContent-T=\nype&gt;\n&lt;META content=3D\&quot;MSHTML 5.00.2314.1000\&quot; name=3DGENERATOR&gt;&lt;/HEAD&gt;\n&lt;BODY&gt;&lt;!-- Inserted by Calypso --&gt;\n&lt;TABLE border=3D0 cellPadding=3D0 cellSpacing=3D2 id=3D_CalyPrintHeader_ r=\nules=3Dnone \nstyle=3D\&quot;COLOR: black; DISPLAY: none\&quot; width=3D\&quot;100%\&quot;&gt;\n  &lt;TBODY&gt;\n  &lt;TR&gt;\n    &lt;TD colSpan=3D3&gt;\n      &lt;HR color=3Dblack noShade SIZE=3D1&gt;\n    &lt;/TD&gt;&lt;/TR&gt;&lt;/TD&gt;&lt;/TR&gt;\n  &lt;TR&gt;\n    &lt;TD colSpan=3D3&gt;\n      &lt;HR color=3Dblack noShade SIZE=3D1&gt;\n    &lt;/TD&gt;&lt;/TR&gt;&lt;/TBODY&gt;&lt;/TABLE&gt;&lt;!-- End Calypso --&gt;&lt;!-- Inserted by Calypso=\n --&gt;&lt;FONT \ncolor=3D#000000 face=3DVERDANA,ARIAL,HELVETICA size=3D-2&gt;&lt;BR&gt;&lt;/FONT&gt;&lt;/TD&gt;&lt;=\n/TR&gt;&lt;/TABLE&gt;&lt;!-- End Calypso --&gt;&lt;FONT color=3D#ff0000 \nface=3D\&quot;Copperplate Gothic Bold\&quot; size=3D5 PTSIZE=3D\&quot;10\&quot;&gt;\n&lt;CENTER&gt;Save up to 70% on Life Insurance.&lt;/CENTER&gt;&lt;/FONT&gt;&lt;FONT color=3D#ff=\n0000 \nface=3D\&quot;Copperplate Gothic Bold\&quot; size=3D5 PTSIZE=3D\&quot;10\&quot;&gt;\n&lt;CENTER&gt;Why Spend More Than You Have To?\n&lt;CENTER&gt;&lt;FONT color=3D#ff0000 face=3D\&quot;Copperplate Gothic Bold\&quot; size=3D5 PT=\nSIZE=3D\&quot;10\&quot;&gt;\n&lt;CENTER&gt;Life Quote Savings\n&lt;CENTER&gt;\n&lt;P align=3Dleft&gt;&lt;/P&gt;\n&lt;P align=3Dleft&gt;&lt;/P&gt;&lt;/FONT&gt;&lt;/U&gt;&lt;/I&gt;&lt;/B&gt;&lt;BR&gt;&lt;/FONT&gt;&lt;/U&gt;&lt;/B&gt;&lt;/U&gt;&lt;/I&gt;\n&lt;P&gt;&lt;/P&gt;\n&lt;CENTER&gt;\n&lt;TABLE border=3D0 borderColor=3D#111111 cellPadding=3D0 cellSpacing=3D0 wi=\ndth=3D650&gt;\n  &lt;TBODY&gt;&lt;/TBODY&gt;&lt;/TABLE&gt;\n&lt;TABLE border=3D0 borderColor=3D#111111 cellPadding=3D5 cellSpacing=3D0 wi=\ndth=3D650&gt;\n  &lt;TBODY&gt;\n  &lt;TR&gt;\n    &lt;TD colSpan=3D2 width=3D\&quot;35%\&quot;&gt;&lt;B&gt;&lt;FONT face=3DVerdana size=3D4&gt;Ensurin=\ng your \n      family&#39;s financial security is very important. Life Quote Savings ma=\nkes \n      buying life insurance simple and affordable. We Provide FREE Access =\nto The \n      Very Best Companies and The Lowest Rates.&lt;/FONT&gt;&lt;/B&gt;&lt;/TD&gt;&lt;/TR&gt;\n  &lt;TR&gt;\n    &lt;TD align=3Dmiddle vAlign=3Dtop width=3D\&quot;18%\&quot;&gt;\n      &lt;TABLE borderColor=3D#111111 width=3D\&quot;100%\&quot;&gt;\n        &lt;TBODY&gt;\n        &lt;TR&gt;\n          &lt;TD style=3D\&quot;PADDING-LEFT: 5px; PADDING-RIGHT: 5px\&quot; width=3D\&quot;100=\n%\&quot;&gt;&lt;FONT \n            face=3DVerdana size=3D4&gt;&lt;B&gt;Life Quote Savings&lt;/B&gt; is FAST, EAS=\nY and \n            SAVES you money! Let us help you get started with the best val=\nues in \n            the country on new coverage. You can SAVE hundreds or even tho=\nusands \n            of dollars by requesting a FREE quote from Lifequote Savings. =\nOur \n            service will take you less than 5 minutes to complete. Shop an=\nd \n            compare. SAVE up to 70% on all types of Life insurance! \n&lt;/FONT&gt;&lt;/TD&gt;&lt;/TR&gt;\n        &lt;TR&gt;&lt;BR&gt;&lt;BR&gt;\n          &lt;TD height=3D50 style=3D\&quot;PADDING-LEFT: 5px; PADDING-RIGHT: 5px\&quot; \n          width=3D\&quot;100%\&quot;&gt;\n            &lt;P align=3Dcenter&gt;&lt;B&gt;&lt;FONT face=3DVerdana size=3D5&gt;&lt;A \n            href=3D\&quot;http://website.e365.cc/savequote/\&quot;&gt;Click Here For Your=\n \n            Free Quote!&lt;/A&gt;&lt;/FONT&gt;&lt;/B&gt;&lt;/P&gt;&lt;/TD&gt;\n          &lt;P&gt;&lt;FONT face=3DVerdana size=3D4&gt;&lt;STRONG&gt;\n          &lt;CENTER&gt;Protecting your family is the best investment you&#39;ll eve=\nr \n          make!&lt;BR&gt;&lt;/B&gt;&lt;/TD&gt;&lt;/TR&gt;\n        &lt;TR&gt;&lt;BR&gt;&lt;BR&gt;&lt;/STRONG&gt;&lt;/FONT&gt;&lt;/TD&gt;&lt;/TR&gt;&lt;/TD&gt;&lt;/TR&gt;\n        &lt;TR&gt;&lt;/TR&gt;&lt;/TBODY&gt;&lt;/TABLE&gt;\n      &lt;P align=3Dleft&gt;&lt;FONT face=3D\&quot;Arial, Helvetica, sans-serif\&quot; size=3D2=\n&gt;&lt;/FONT&gt;&lt;/P&gt;\n      &lt;P&gt;&lt;/P&gt;\n      &lt;CENTER&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;\n      &lt;P&gt;&lt;/P&gt;\n      &lt;P align=3Dleft&gt;&lt;BR&gt;&lt;/B&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;/P&gt;\n      &lt;P align=3Dcenter&gt;&lt;BR&gt;&lt;/P&gt;\n      &lt;P align=3Dleft&gt;&lt;BR&gt;&lt;/B&gt;&lt;BR&gt;&lt;BR&gt;&lt;/FONT&gt;If you are in receipt of this=\n email \n      in error and/or wish to be removed from our list, &lt;A \n      href=3D\&quot;mailto:coins@btamail.net.cn\&quot;&gt;PLEASE CLICK HERE&lt;/A&gt; AND TYPE =\nREMOVE. If you \n      reside in any state which prohibits e-mail solicitations for insuran=\nce, \n      please disregard this \n      email.&lt;BR&gt;&lt;/FONT&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR=\n&gt;&lt;BR&gt;&lt;BR&gt;&lt;BR&gt;&lt;/FONT&gt;&lt;/P&gt;&lt;/CENTER&gt;&lt;/CENTER&gt;&lt;/TR&gt;&lt;/TBODY&gt;&lt;/TABLE&gt;&lt;/CENTER&gt;&lt;/=\nCENTER&gt;&lt;/CENTER&gt;&lt;/CENTER&gt;&lt;/CENTER&gt;&lt;/BODY&gt;&lt;/HTML&gt;\n\n\n&quot;</code></pre>
</div>
<div id="e-mail-data-的樣子-1" class="slide section level1">
<h1>E-mail Data 的樣子</h1>
<pre class="sourceCode r"><code class="sourceCode r"><span class="kw">print</span>(all.spam[<span class="dv">5</span>])</code></pre>
<pre><code>##                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           00005.57696a39d7d84318ce497886896bf90d 
## &quot;I thought you might like these:\n1) Slim Down - Guaranteed to lose 10-12 lbs in 30 days\nhttp://www.freeyankee.com/cgi/fy2/to.cgi?l=822slim1\n\n2) Fight The Risk of Cancer! \nhttp://www.freeyankee.com/cgi/fy2/to.cgi?l=822nic1 \n\n3) Get the Child Support You Deserve - Free Legal Advice \nhttp://www.freeyankee.com/cgi/fy2/to.cgi?l=822ppl1\n\nOffer Manager\nDaily-Deals\n\n\n\n\n\n\n\n\nIf you wish to leave this list please use the link below.\nhttp://www.qves.com/trim/?social@linux.ie%7C29%7C134077\n\n\n-- \nIrish Linux Users&#39; Group Social Events: social@linux.ie\nhttp://www.linux.ie/mailman/listinfo/social for (un)subscription information.\nList maintainer: listmaster@linux.ie\n&quot;</code></pre>
</div>
<div id="作者用來-cleaning-data-的工具-get.tdm" class="slide section level1">
<h1>作者用來 cleaning data 的工具 (get.tdm)</h1>
<pre class="sourceCode r"><code class="sourceCode r">get.tdm &lt;-<span class="st"> </span>function(doc.vec) {
    control &lt;-<span class="st"> </span><span class="kw">list</span>(<span class="dt">stopwords =</span> <span class="ot">TRUE</span>, <span class="dt">removePunctuation =</span> <span class="ot">TRUE</span>, <span class="dt">removeNumbers =</span> <span class="ot">TRUE</span>, 
        <span class="dt">minDocFreq =</span> <span class="dv">2</span>)
    doc.corpus &lt;-<span class="st"> </span><span class="kw">Corpus</span>(<span class="kw">VectorSource</span>(doc.vec))
    doc.dtm &lt;-<span class="st"> </span><span class="kw">TermDocumentMatrix</span>(doc.corpus, control)
    <span class="kw">return</span>(doc.dtm)
}</code></pre>
</div>
<div id="如何使用-tm-中的工具-corpus-termdocumentmatrix" class="slide section level1">
<h1>如何使用 tm 中的工具 (Corpus / TermDocumentMatrix)</h1>
<pre class="sourceCode r"><code class="sourceCode r">spam.tdm &lt;-<span class="st"> </span><span class="kw">get.tdm</span>(all.spam)
<span class="kw">print</span>(spam.tdm)</code></pre>
<pre><code>## A term-document matrix (349 terms, 6 documents)
## 
## Non-/sparse entries: 434/1660
## Sparsity           : 79%
## Maximal term length: 44 
## Weighting          : term frequency (tf)</code></pre>
</div>
<div id="如何使用-tm-中的工具-corpus-termdocumentmatrix-1" class="slide section level1">
<h1>如何使用 tm 中的工具 (Corpus / TermDocumentMatrix)</h1>
<pre class="sourceCode r"><code class="sourceCode r"><span class="kw">str</span>(spam.tdm)</code></pre>
<pre><code>## List of 6
##  $ i       : int [1:434] 2 10 13 14 15 16 17 18 19 20 ...
##  $ j       : int [1:434] 1 1 1 1 1 1 1 1 1 1 ...
##  $ v       : num [1:434] 1 1 1 1 1 1 1 1 1 1 ...
##  $ nrow    : int 349
##  $ ncol    : int 6
##  $ dimnames:List of 2
##   ..$ Terms: chr [1:349] &quot;absolutely&quot; &quot;access&quot; &quot;account&quot; &quot;adult&quot; ...
##   ..$ Docs : chr [1:6] &quot;00001.7848dde101aa985090474a91ec93fcf0&quot; &quot;00002.d94f1b97e48ed3b553b3508d116e6a09&quot; &quot;00003.2ee33bc6eacdb11f38d052c44819ba6c&quot; &quot;00004.eac8de8d759b7e74154f142194282724&quot; ...
##  - attr(*, &quot;class&quot;)= chr [1:2] &quot;TermDocumentMatrix&quot; &quot;simple_triplet_matrix&quot;
##  - attr(*, &quot;Weighting&quot;)= chr [1:2] &quot;term frequency&quot; &quot;tf&quot;</code></pre>
</div>
<div id="運用-tdm-來進行分析與-training" class="slide section level1">
<h1>運用 TDM 來進行分析與 Training</h1>
<pre class="sourceCode r"><code class="sourceCode r">spam.matrix &lt;-<span class="st"> </span><span class="kw">as.matrix</span>(spam.tdm)
spam.counts &lt;-<span class="st"> </span><span class="kw">rowSums</span>(spam.matrix)
<span class="kw">head</span>(spam.counts)</code></pre>
<pre><code>##    absolutely        access       account         adult        adults 
##             2             4             1             5             1 
## advertisement 
##             1</code></pre>
</div>
<div id="運用-tdm-來進行分析與-training-1" class="slide section level1">
<h1>運用 TDM 來進行分析與 Training</h1>
<pre class="sourceCode r"><code class="sourceCode r">spam.df &lt;-<span class="st"> </span><span class="kw">data.frame</span>(<span class="kw">cbind</span>(<span class="kw">names</span>(spam.counts), <span class="kw">as.numeric</span>(spam.counts)), <span class="dt">stringsAsFactors =</span> <span class="ot">FALSE</span>)
<span class="kw">names</span>(spam.df) &lt;-<span class="st"> </span><span class="kw">c</span>(<span class="st">&quot;term&quot;</span>, <span class="st">&quot;frequency&quot;</span>)
spam.df$frequency &lt;-<span class="st"> </span><span class="kw">as.numeric</span>(spam.df$frequency)
<span class="kw">head</span>(spam.df)</code></pre>
<pre><code>##            term frequency
## 1    absolutely         2
## 2        access         4
## 3       account         1
## 4         adult         5
## 5        adults         1
## 6 advertisement         1</code></pre>
</div>
<div id="複習一下-tf-ide-的定義" class="slide section level1">
<h1>複習一下 TF-IDE 的定義：</h1>
<ul class="incremental">
<li>TF 的定義 <br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=%5Cmathrm%7Btf_%7Bi%2Cj%7D%7D%20%3D%20%5Cfrac%7Bn_%7Bi%2Cj%7D%7D%7B%5Csum_k%20n_%7Bk%2Cj%7D%7D" alt="\mathrm{tf_{i,j}} = \frac{n_{i,j}}{\sum_k n_{k,j}}" title="\mathrm{tf_{i,j}} = \frac{n_{i,j}}{\sum_k n_{k,j}}" /><br /></li>
<li>IDF 的定義 <br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=%5Cmathrm%7Bidf_%7Bi%7D%7D%20%3D%20%20%5Clog%20%5Cfrac%7B%7CD%7C%7D%7B%7C%5C%7Bj%3A%20t_%7Bi%7D%20%5Cin%20d_%7Bj%7D%5C%7D%7C%7D" alt="\mathrm{idf_{i}} =  \log \frac{|D|}{|\{j: t_{i} \in d_{j}\}|}" title="\mathrm{idf_{i}} =  \log \frac{|D|}{|\{j: t_{i} \in d_{j}\}|}" /><br /></li>
<li><a href="http://zh.wikipedia.org/wiki/TF-IDF">Wikipedia Reference</a></li>
</ul>
</div>
<div id="運用-tdm-來計算-tf-idf" class="slide section level1">
<h1>運用 TDM 來計算 TF-IDF</h1>
<pre class="sourceCode r"><code class="sourceCode r">spam.occurrence &lt;-<span class="st"> </span><span class="kw">sapply</span>(<span class="dv">1</span>:<span class="kw">nrow</span>(spam.matrix), function(i) {
    <span class="kw">length</span>(<span class="kw">which</span>(spam.matrix[i, ] &gt;<span class="st"> </span><span class="dv">0</span>))/<span class="kw">ncol</span>(spam.matrix)
})
spam.density &lt;-<span class="st"> </span>spam.df$frequency/<span class="kw">sum</span>(spam.df$frequency)</code></pre>
</div>
<div id="完成-spam-的訓練-data-frame" class="slide section level1">
<h1>完成 Spam 的訓練 Data Frame</h1>
<pre class="sourceCode r"><code class="sourceCode r"><span class="co"># Add the term density and occurrence rate</span>
spam.df &lt;-<span class="st"> </span><span class="kw">transform</span>(spam.df, <span class="dt">density =</span> spam.density, <span class="dt">occurrence =</span> spam.occurrence)
<span class="kw">head</span>(spam.df)</code></pre>
<pre><code>##            term frequency  density occurrence
## 1    absolutely         2 0.003503     0.1667
## 2        access         4 0.007005     0.3333
## 3       account         1 0.001751     0.1667
## 4         adult         5 0.008757     0.1667
## 5        adults         1 0.001751     0.1667
## 6 advertisement         1 0.001751     0.1667</code></pre>
</div>
<div id="運用類似步驟可完成-ham-的訓練-data-frame" class="slide section level1">
<h1>運用類似步驟，可完成 Ham 的訓練 Data Frame</h1>
<pre class="sourceCode r"><code class="sourceCode r">easyham.path &lt;-<span class="st"> </span><span class="kw">file.path</span>(<span class="st">&quot;data&quot;</span>, <span class="st">&quot;easy_ham&quot;</span>)
<span class="co"># Now do the same for the EASY HAM email</span>
easyham.docs &lt;-<span class="st"> </span><span class="kw">dir</span>(easyham.path)
easyham.docs &lt;-<span class="st"> </span>easyham.docs[<span class="kw">which</span>(easyham.docs !=<span class="st"> &quot;cmds&quot;</span>)]
all.easyham &lt;-<span class="st"> </span><span class="kw">sapply</span>(<span class="kw">head</span>(easyham.docs), function(p) <span class="kw">get.msg</span>(<span class="kw">file.path</span>(easyham.path, 
    p)))

easyham.tdm &lt;-<span class="st"> </span><span class="kw">get.tdm</span>(all.easyham)

easyham.matrix &lt;-<span class="st"> </span><span class="kw">as.matrix</span>(easyham.tdm)
easyham.counts &lt;-<span class="st"> </span><span class="kw">rowSums</span>(easyham.matrix)
easyham.df &lt;-<span class="st"> </span><span class="kw">data.frame</span>(<span class="kw">cbind</span>(<span class="kw">names</span>(easyham.counts), <span class="kw">as.numeric</span>(easyham.counts)), 
    <span class="dt">stringsAsFactors =</span> <span class="ot">FALSE</span>)
<span class="kw">names</span>(easyham.df) &lt;-<span class="st"> </span><span class="kw">c</span>(<span class="st">&quot;term&quot;</span>, <span class="st">&quot;frequency&quot;</span>)
easyham.df$frequency &lt;-<span class="st"> </span><span class="kw">as.numeric</span>(easyham.df$frequency)
easyham.occurrence &lt;-<span class="st"> </span><span class="kw">sapply</span>(<span class="dv">1</span>:<span class="kw">nrow</span>(easyham.matrix), function(i) {
    <span class="kw">length</span>(<span class="kw">which</span>(easyham.matrix[i, ] &gt;<span class="st"> </span><span class="dv">0</span>))/<span class="kw">ncol</span>(easyham.matrix)
})
easyham.density &lt;-<span class="st"> </span>easyham.df$frequency/<span class="kw">sum</span>(easyham.df$frequency)

easyham.df &lt;-<span class="st"> </span><span class="kw">transform</span>(easyham.df, <span class="dt">density =</span> easyham.density, <span class="dt">occurrence =</span> easyham.occurrence)</code></pre>
</div>
<div id="如何建造-naive-baysian-classifier" class="slide section level1">
<h1>如何建造 Naive Baysian Classifier？</h1>
<ul class="incremental">
<li>先分別建造好 Ham 和 Spam 的 Training Data Frame</li>
<li>接著運用 Training Data Frame 來計算新的 E-mail 是 Ham or Spam 的機率?</li>
</ul>
</div>
<div id="review-naive-baysian-classifier" class="slide section level1">
<h1>Review: Naive Baysian Classifier</h1>
<p><img src="naive_bayes_graph.png" width="300"/></p>
</div>
<div id="review-naive-baysian-classifier-1" class="slide section level1">
<h1>Review: Naive Baysian Classifier</h1>
<ul class="incremental">
<li><p>已知： <br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=P%28w_j%7CC%29" alt="P(w_j|C)" title="P(w_j|C)" /><br /></p></li>
<li><p>已知： <br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=P%28C%29" alt="P(C)" title="P(C)" /><br /></p></li>
<li><p>欲知： <br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=P%28C%7Cw_1%2Cw2%2C%5Cldots%2Cw_n%29" alt="P(C|w_1,w2,\ldots,w_n)" title="P(C|w_1,w2,\ldots,w_n)" /><br /></p></li>
<li><p>Baysian： <br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=P%28C%7Cw_1%2Cw2%2C%5Cldots%2Cw_n%29%20%5Cpropto%20%5Cprod_j%20P%28w_j%7CC%29%20%5Ctimes%20P%28C%29" alt="P(C|w_1,w2,\ldots,w_n) \propto \prod_j P(w_j|C) \times P(C)" title="P(C|w_1,w2,\ldots,w_n) \propto \prod_j P(w_j|C) \times P(C)" /><br /></p></li>
<li>先分別建造好 Ham 和 Spam 的 Training Data Frame</li>
<li><p>接著運用 Training Data Frame 來計算新的 E-mail 是 Ham or Spam 的機率?</p></li>
</ul>
</div>
<div id="naive-baysian-classifier-for-e-mail-spam" class="slide section level1">
<h1>Naive Baysian Classifier for E-mail SPAM</h1>
<pre class="sourceCode r"><code class="sourceCode r">classify.email &lt;-<span class="st"> </span>function(path, training.df, <span class="dt">prior =</span> <span class="fl">0.5</span>, <span class="dt">c =</span> <span class="fl">1e-06</span>) {
    <span class="co"># Here, we use many of the support functions to get the email text data in</span>
    <span class="co"># a workable format</span>
    msg &lt;-<span class="st"> </span><span class="kw">get.msg</span>(path)
    msg.tdm &lt;-<span class="st"> </span><span class="kw">get.tdm</span>(msg)
    msg.freq &lt;-<span class="st"> </span><span class="kw">rowSums</span>(<span class="kw">as.matrix</span>(msg.tdm))
    <span class="co"># Find intersections of words</span>
    msg.match &lt;-<span class="st"> </span><span class="kw">intersect</span>(<span class="kw">names</span>(msg.freq), training.df$term)
    <span class="co"># Now, we just perform the naive Bayes calculation</span>
    if (<span class="kw">length</span>(msg.match) &lt;<span class="st"> </span><span class="dv">1</span>) {
        <span class="kw">return</span>(prior *<span class="st"> </span>c^(<span class="kw">length</span>(msg.freq)))
    } else {
        match.probs &lt;-<span class="st"> </span>training.df$occurrence[<span class="kw">match</span>(msg.match, training.df$term)]
        <span class="kw">return</span>(prior *<span class="st"> </span><span class="kw">prod</span>(match.probs) *<span class="st"> </span>c^(<span class="kw">length</span>(msg.freq) -<span class="st"> </span><span class="kw">length</span>(msg.match)))
    }
}</code></pre>
</div>
<div id="如何運用-naive-baysian-classifier" class="slide section level1">
<h1>如何運用 Naive Baysian Classifier</h1>
<ul class="incremental">
<li>就請大家自己回家看一下作者的 Sample Codes 囉！</li>
</ul>
</div>
<div id="regression-analysis" class="slide section level1">
<h1>Regression Analysis</h1>
<ul class="incremental">
<li>未完待續，下回分曉！</li>
</ul>
</div>
